.embed {
    background-color: #0002;
    margin: 20px;
    text-align: center;
    overflow: hidden;
}
.embed > p {
    text-align: center;
    max-width: 250px;
    margin: 15px auto auto auto;

}
.embed > button {
    margin: 10px;
    border: 1px solid gray;

}
